{:account1 {:api-key             ""
            :api-key-secret      ""
            :access-token        ""
            :access-token-secret ""}

 :account2 {:api-key             ""
            :api-key-secret      ""
            :access-token        ""
            :access-token-secret ""}}
